<div class="jumbotron">
  <h1>TaskTimer</h1>
  <p>A self-destructing to-do list to keep you motivated.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>List</h2>
    <p>Create a task list - the timer starts automatically!</p>
  </div>
  <div class="col-md-4">
    <h2>Mark</h2>
    <p>Check off each item as you complete it.</p>
  </div>
  <div class="col-md-4">
    <h2>Destroy</h2>
    <p>Unchecked to-do items will self-destruct after 7 days.</p>
  </div>
</div>
